# Managed by ansible

{% if tmux_version.stdout|float >= 2.1 %}
# tmux {{ tmux_version.stdout }} is >= 2.1 -> new mouse handling
set -g mouse on

# Enable mouse mode with M-m
bind m \
  set -g mouse on \;\
  display 'Mouse: ON'

# Disable mouse mode with M-M
bind M \
  set -g mouse off \;\
  display 'Mouse: OFF'
{% else %}
# tmux {{ tmux_version.stdout }} is < 2.1 -> old mouse handling
set -g mode-mouse on
set -g mouse-resize-pane on
set -g mouse-select-pane on
set -g mouse-select-window on

# Enable mouse mode with M-m
bind m \
  set -g mode-mouse on \;\
  set -g mouse-resize-pane on \;\
  set -g mouse-select-pane on \;\
  set -g mouse-select-window on \;\
  display 'Mouse: ON'

# Disable mouse mode with M-M
bind M \
  set -g mode-mouse off \;\
  set -g mouse-resize-pane off \;\
  set -g mouse-select-pane off \;\
  set -g mouse-select-window off \;\
  display 'Mouse: OFF'
{% endif %}

# Add Alt+x as a second prefix so that Ctrl+b doesn't get overwritten
set-option -g prefix2 M-x

# Bind x/b to send-prefix so that one only needs to tap the respective key twice when using nested tmux sessions(e.g. ssh)
bind-key x send-prefix
bind-key b send-prefix

# Long histories are sometimes useful...
set-option -g history-limit 8192

# Start counting at one
set -g base-index 1
setw -g pane-base-index 1

# Activate Powerline. We assume that the most recent version supported in Debian's powerline package is the most recent version of tmux shipped in Debian. Powerline has it's own config...
{% if ansible_distribution == "Debian" %}
source '/usr/share/powerline/bindings/tmux/powerline.conf'
{% elif ansible_distribution == "Fedora" %}
source '/usr/share/tmux/powerline.conf'
{% endif %}
